<form action="/submit">
<input type="submit">
<select   name="kk">
	<%if(data.length){
		for(var i=0;i<data.length;i++){ %>
		
			
			<option><%=data[i].owner%></option>
		
	<% }
	}else{ %>
	<p>NO User FOund</p>
	
	<% } %>

<script>
function show(val){
//console.log(window.location.origin+'/custSearch?userVal='+val);
	location.href = 'http://localhost:4300/custSearch?userVal='+val;
}
</script>
</form>