<div align="center">
<h1>Welcome to Registration page</h1>
<form action="/submit">
id<input type="text" name="id"><br>
name<input type="password" name="name"><br>

<input type="submit">
</form>
</div>