<form action="/update" method="post">
<input type='text' value='<%=data[0]name%>' name='username'>

<input type='text' value='<%=data[0]password%>' name='password'>

<input type='hidden' value='<%=data[0].id%>' namwe='userId'>

<input type='submit' value='<%=data[0].id%>' name='userId'>
</form>