<form action="/submit">
<select name="data1">

<%if(data.length){
	for(var i=0; i<data.length; i++){%>
	<option><%=data[i].name%></option>
<%}
}
else
{%>
<p>
	No user found
</p>
<%}%>
</select>

<input type="submit">
</form>


