<div>
	<form action="/submit">
	<select   name=kk>
	<option>Ahmad</option>
	<option>rohan</option>
	<option>abhisekh</option>
	<option>ravi</option>
	</select>
	 
	 	 <input type="submit">
		 </div>
	</form>
	