<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchApp">



  <!-- SCROLLS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  <!-- SPELLS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="script.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IM Mortel</title>
<link href="css/style.css" rel="stylesheet" type="text/css"/>


<script src="js/script.js"></script>


<div id="headerbg"><!--header start-->

<div class="wrapper"><!--wrapper start-->

<div class="logo flt"><a href="#"><img src="images/logo.png" alt=""/></a></div>

<div class="top-nav">
<ul> 
<li><a href="#">Sign In</a></li>
<li><a href="#">My Account</a></li>
<li><a href="#">Checkout</a></li>
</ul>
</div>

<div class="nav">
<a class="home-new" href="#" class="active">Home</a>
<a class="home-new"href="#login">Login</a>
<a class="home-new" href="#register">Register</a>
<a class="home-new"href="#contact">Contactus</a>
<a class="home-new"href="#special">Specials</a>
<a class="home-new"href="#news">Newsletter</a>
</div>

</div><!--wrapper end-->


</div><!--header end-->

<!--wrapper end-->






<div ng-view></div>






<div class="footerbg">

<div class="wrapper"><!--wrapper start-->

<div class="footerleft flt">
<h2>1914 translation by H.</br> Rackham</h2>
<p>"Hello Welcome to new page</p>
</br>

</br>
<p>&nbsp;</p>
</div>
<div class="footermid flt">
<h2>anslation by H. Rackham</h2>

<p>Hello  welcome  to  new  page </p>


</br>

<p>master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who </p>
</div>

<div class="footerright flt">

<div class="media"><a href="#"><img src="images/socialmedia.png" alt=""/></a></div>

<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</br>
"There is no one who loves pai</p>
</div>

</div><!--wrapper end-->

<div class="copyright">
<div class="wrapper"><!--wrapper start-->
<p>All Copy Right Reserved 2013</p>
</div><!--wrapper end-->

</div>
</div><!--footyer end-->


<div class="clr"></div>





</body>
</html>
