<form action="/add">
	
			name:<input type="text" value="<%=data[0].name%>"><br><br>
			
			password:<input type="text" value="<%=data[0].password%>"><br><br>
			
		<input type="submit" value="Add User">
	
	<h4>Name</h4>
	<select>
	<option style="height:50px, width:100px"><%=data[0].name%></option>
	</select>
	
	<h4>Password</h4>
	<select style="height:50px,">
	<option ><%=data[0].password%></option>
	</select>
	
	</form>