<!DOCTYPE html>
<html ng-app="formexample">
<head>
<script src="js/angular.min.js"></script>
<script src="js/formjs.js"></script>
</head>
<body>
<div ng-controller="formctrl">
<form name="userform" class="well form-search">
<input type="text" ng-model="name" class="input-medium search-query" placeholder="name" required>
<input type="email" ng-model="email" class="input-medium search-query" placeholder="email" required>
<input type="text" ng-model="message" class="input-medium search-query" placeholder="message" required>
<button type="submit" class="btn" ng-click="formsubmit(userform.$valid)" ng-disabled="userform.$invalid">submit</button>
</form>

<table border="1px solid orange;">
<tr ng-repeat="company in companies">
<td>{{company.name}}</td>
<td>{{company.email}}</td>
<td>{{company.message}}</td>
</tr></table></div></body></html>

